# Kizárt könyvtárak
workdir/*/
**/__pycache__/
.gradio/
.old/
narrator/*

# Kizárt konfigurációs és adatfájlok
keyholder.json
scripts/scripts.json
docker-compose.yml

# Kizárt scriptek és eszközök
TTS/*/

# Naplófájlok (log)
*.log
*.err

# Audiofájlok
*.aac
*.mp3
*.wav
*.flac
*.ogg
*.m4a

# Videófájlok
*.mp4
*.mov
*.avi
*.mkv
*.webm
